.relative-position{
  position: relative;
}
.absolute-top-left{
  position: absolute;
  top: 0;
  left: 0
}
.absolute-top-right{
  position: absolute;
  top: 0;
  right: 0
}
.absolute-bottom-left{
  position: absolute;
  bottom: 0;
  left: 0
}
.absolute-bottom-right{
  position: absolute;
  bottom: 0;
  right: 0
}
.full-width{
  width: 100% !important;
}
.full-height{
  height: 100% !important;
}
/*flex 相关 ---------start----------*/
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.items-center{
  align-items: center;
}
.items-baseline{
  align-items: baseline;
}
.items-stretch{
  align-items: stretch;
}
.no-warp{
  flex-wrap: nowrap;
}
/*flex 相关 ---------end----------*/

/*字体颜色*/
.color-333{
  color: #333333;
}
.color-666{
  color: #666666;
}
.color-999{
  color: #999999;
}

/*间距相关*/
.q-mt-xl{
  margin-top: 32px;
}
.q-mt-lg{
  margin-top: 24px;
}
.q-mt-md{
  margin-top: 16px;
}
.q-mt-sm{
  margin-top: 8px;
}
.q-mt-xs{
  margin-top: 4px;
}
.q-ml-xl{
  margin-left: 32px;
}
.q-ml-lg{
  margin-left: 24px;
}
.q-ml-md{
  margin-left: 16px;
}
.q-ml-sm{
  margin-left: 8px;
}
.q-ml-xs{
  margin-left: 4px;
}
.q-mr-xl{
  margin-right: 32px;
}
.q-mr-lg{
  margin-right: 24px;
}
.q-mr-md{
  margin-right: 16px;
}
.q-mr-sm{
  margin-right: 8px;
}
.q-mr-xs{
  margin-left: 4px;
}
.q-mb-xl{
  margin-bottom: 32px;
}
.q-mb-lg{
  margin-bottom: 24px;
}
.q-mb-md{
  margin-bottom: 16px;
}
.q-mb-sm{
  margin-bottom: 8px;
}
.q-mb-xs{
  margin-bottom: 4px;
}
.q-mx-xl{
  margin-left: 32px;
  margin-right: 32px;
}
.q-mx-lg{
  margin-left: 24px;
  margin-right: 24px;
}
.q-mx-md{
  margin-left: 16px;
  margin-right: 16px;
}
.q-mx-sm{
  margin-left: 8px;
  margin-right: 8px;
}
.q-mx-xs{
  margin-left: 4px;
  margin-right: 4px;
}
.q-my-xl{
  margin-top: 32px;
  margin-bottom: 32px;
}
.q-my-lg{
  margin-top: 24px;
  margin-bottom: 24px;
}
.q-my-md{
  margin-top: 16px;
  margin-bottom: 16px;
}
.q-my-sm{
  margin-top: 8px;
  margin-bottom: 8px;
}
.q-my-xs{
  margin-top: 4px;
  margin-bottom: 4px;
}
.q-ma-xl{
  margin: 32px;
}
.q-ma-lg{
  margin: 24px;
}
.q-ma-md{
  margin: 16px;
}
.q-ma-sm{
  margin: 8px;
}
.q-ma-xs{
  margin: 4px;
}
.q-ma-none{
	margin: 0;
}
.q-mt-none{
	margin-top: 0;
}
.q-mr-none{
	margin-right: 0;
}
.q-mb-none{
	margin-bottom: 0;
}
.q-ml-none{
	margin-left: 0;
}
.q-mx-none{
	margin-left: 0;
	margin-right: 0;
}
.q-my-none{
	margin-top: 0;
	margin-bottom: 0;
}
.q-pt-xl{
  padding-top: 32px;
}
.q-pt-lg{
  padding-top: 24px;
}
.q-pt-md{
  padding-top: 16px;
}
.q-pt-sm{
  padding-top: 8px;
}
.q-pt-xs{
  padding-top: 4px;
}
.q-pl-xl{
  padding-left: 32px;
}
.q-pl-lg{
  padding-left: 24px;
}
.q-pl-md{
  padding-left: 16px;
}
.q-pl-sm{
  padding-left: 8px;
}
.q-pl-xs{
  padding-left: 4px;
}
.q-pr-xl{
  padding-right: 32px;
}
.q-pr-lg{
  padding-right: 24px;
}
.q-pr-md{
  padding-right: 16px;
}
.q-pr-sm{
  padding-right: 8px;
}
.q-pr-xs{
  padding-left: 4px;
}
.q-pb-xl{
  padding-bottom: 32px;
}
.q-pb-lg{
  padding-bottom: 24px;
}
.q-pb-md{
  padding-bottom: 16px;
}
.q-pb-sm{
  padding-bottom: 8px;
}
.q-pb-xs{
  padding-bottom: 4px;
}
.q-px-xl{
  padding-left: 32px;
  padding-right: 32px;
}
.q-px-lg{
  padding-left: 24px;
  padding-right: 24px;
}
.q-px-md{
  padding-left: 16px;
  padding-right: 16px;
}
.q-px-sm{
  padding-left: 8px;
  padding-right: 8px;
}
.q-px-xs{
  padding-left: 4px;
  padding-right: 4px;
}
.q-py-xl{
  padding-top: 32px;
  padding-bottom: 32px;
}
.q-py-lg{
  padding-top: 24px;
  padding-bottom: 24px;
}
.q-py-md{
  padding-top: 16px;
  padding-bottom: 16px;
}
.q-py-sm{
  padding-top: 8px;
  padding-bottom: 8px;
}
.q-py-xs{
  padding-top: 4px;
  padding-bottom: 4px;
}
.q-pa-xl{
  padding: 32px;
}
.q-pa-lg{
  padding: 24px;
}
.q-pa-md{
  padding: 16px;
}
.q-pa-sm{
  padding: 8px;
}
.q-pa-xs{
  padding: 4px;
}
.q-pa-none{
	padding: 0;
}
.q-px-none{
	padding-left: 0;
	padding-right: 0;
}
.q-py-none{
	padding-top: 0;
	padding-bottom: 0;
}
.q-pt-none{
	padding-top: 0;
}
.q-pr-none{
	padding-right: 0;
}
.q-pb-none{
	padding-bottom: 0;
}
.q-pl-none{
	padding-left: 0;
}
